block footer
    footer#footer.footer
        .container
            .footer__inner




                //.footer__bottom
                //    .footer__policy
                //        a(href="policy.html").footer__title.link.link--white-opacity Политика конфиденциальности
                //
                //    .footer__devs
                //        a(href="https://di-project.studio/") Разработка сайта:
                //        span  Di-Project.Studio
                //    .footer__company
