:root {
  --container: 20px;

  @include breakpoint(lg) {
    --container: 34px;
  }

  @include breakpoint(xl) {
    --container: 0;
  }

  --container-max-width: 1700px;
}

$container: var(--container);

.container {
  margin: 0 auto;
  padding-left: $container;
  padding-right: $container;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--container-max-width);
  box-sizing: border-box;
}
