include ../includes/_mixins

a(href='event.html').event-item
    .event-item__image
        +img('default-image.jpg')
    .event-item__type Концерты
    .event-item__date 21 октября 2024
    .event-item__about Музыкальный спектакль об истории настоящей любви в трех действиях
    .event-item__place Концертный зал “Зарядье”

