include ../includes/_mixins
block popups

    // ПОПАП "ОСТАВИТЬ ЗАЯВКУ"
    .popup#popupRequest
        .popup__logo
            include ../assets/images/logo.svg
        .popup__title Заполните форму, пожалуйста
        .popup__form
            form
                .popup__inputs
                    .popup__input
                        input(type='text' placeholder='Имя').input
                    .popup__input.phone-mask
                        input(type='text' placeholder='+7*').input
                    .popup__input
                        input(type='text' placeholder='Город*').input
                    .popup__input
                        input(type='text' placeholder='Вид услуги').input
                .popup__agree Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь <a href='javascript:void(0)'>с политикой конфиденциальности</a>

                button(type='button').btn Заказать