include ../includes/_mixins
//block popups
//
//    // ПОПАП "ОСТАВИТЬ ЗАЯВКУ"
//    #popup-request.popup
//        input.hidden-input
//        .popup__title Оставить заявку
//        .popup__request-form
//            .popup__inputs
//                .popup__input
//                    input(type='text' placeholder='Ваше имя*')
//                .popup__input.phone-mask
//                    input(type='text' placeholder='Ваш телефон*')
//                .popup__input
//                    input(type='text' placeholder='Электронная почта')
//                .popup__input
//                    textarea(placeholder='Комментарий к заявке')
//            .button
//                a.btn.btn-orange.btn-with-arrow.close-popup(data-fancybox data-src='#popup-success-request')
//                    .btn-text Отправить
//                    .btn-arrow
//                        +img('arrow-right.svg')
//                .agree Отправляя данные, вы соглашаетесь с политикой конфиденциальности, на сбор и обработку персональных данных.
//
//    // ПОПАП "УСПЕШНО - ОБРАТНЫЙ ЗВОНОК"
//    #popup-success-request.popup.popup-success
//        .popup__title Ваша заявка успешно отправлена
//        .popup__subtitle Наши менеджеры свяжутся с вами в ближайшее время
//        .popup-actions
//            a(href='/').btn.btn-orange.btn-with-arrow Вернуться на главную