.footer {
  padding-bottom: 40px;
  &__inner {
    display: grid;
    justify-items: center;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  &__details {
    display: grid;
    justify-items: center;
    gap: 18px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__socials {
    display: flex;
    gap: 14px;
    margin-bottom: 161px;

    &-item {
      svg {
        width: 45px;
        height: 45px;
        flex-shrink: 0;
      }
    }
  }

  &__bottom {
    display: grid;
    gap: 18px;
    justify-items: center;
    text-align: center;
    color: #000;
    font-size: 12px;
  }
}