---
title: 'Страница | Главная'
bodyClass: main-page
//yandexMap: true
---

extends includes/_page

block main
    section.main
        +img('main-image.png')

    section.about
        .container
            .about__inner
                .about__text
                    h1 Вокальная жемчужина российской эстрады в жанре Classical crossover
                    .about__text-description Группа «ТеАмо» это уникальность, красота и сила женских голосов. Их репертуар - изысканный букет особенной классики и свежего звучания ретро. Это музыка, объединяющая поколения и музыкальные шоу мирового уровня. Коллектив, ставший украшением телепередач на Федеральных каналах и лучших концертных площадок страны.
        .about__image
            +img('about-image.jpg')

    section.participants
        .container
            .participants__inner
                .main-slider.swiper
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide-image
                                +img('participant-main-1.jpg')
                            .swiper-slide-text
                                p Ольга Бровкина
                                p Хрустальный голос, привлекательная внешность и харизма — все это делает Олю незабываемой на сцене. Творческий путь этой девушки начался с самого раннего детства — музыкальная школа, училище искусств, Академия Хорового Искусства под руководством В.С. Попова привели ее к созданию вокального коллектива «ТеАмо» вместе с подругами. Лирико-колоратурное сопрано Ольги делает каждую песню группы яркой и индивидуальной.
                        .swiper-slide
                            .swiper-slide-image
                                +img('participant-main-2.jpg')
                            .swiper-slide-text
                                p Евгения Курова
                                p Словно сошедшая с голливудских фильмов 50-х годов Евгения всегда добавляет исполнению песен артистизма. Это не удивительно, ведь вокальную карьера она умело совмещает с работой в театре. А ее сопрано с широким тесситурным диапазоном и драматическими возможностями никого не оставит равнодушным. Умелому вокальному искусству Женя обязана Димитровградскому музыкальному училищу по классу хорового дирижирования и Академия Хорового Искусства под руководством В.С. Попова.
                        .swiper-slide
                            .swiper-slide-image
                                +img('participant-main-3.jpg')
                            .swiper-slide-text
                                p Светлана Констандина
                                p Нежная, но в то же время сильная, как и ее голос. Лирическое сопрано Светланы словно звук сотни колокольчиков способен раскрыться в каждом произведении совершенно по-новому. Как и у других солисток ТеАмо, музыкальная карьера Светы, была выбрана с малых лет – сначала музыкальная школа, а после Псковское музыкальное училище им. Н.А. Римского-Корсакова и, конечно же, Академия Хорового Искусства под руководством В.С. Попова.
                        .swiper-slide
                            .swiper-slide-image
                                +img('participant-main-4.jpg')
                            .swiper-slide-text
                                p Христина Зайфиди
                                p Насыщенный тембр и широкий диапазон голоса позволяет солистке одинаково ярко звучать, исполняя как эстраду, так и классику. В коллективе отвечает за самые низкие ноты, которые становятся основой всего аккорда несмотря на то, что Христина поет эстрадно-классическое сопрано.  За ее плечами гимназия с музыкально-эстетическим отделением, дирижерско-хоровой факультет Костромского музыкального училища и Академия Хорового Искусства под руководством В.С. Попова.
                .thumbs-slider.swiper
                    .swiper-wrapper
                        .swiper-slide(data-src='assets/images/participant-main-1.jpg')
                            +img('participant-1.jpg')
                        .swiper-slide(data-src='assets/images/participant-main-2.jpg')
                            +img('participant-2.jpg')
                        .swiper-slide(data-src='assets/images/participant-main-3.jpg')
                            +img('participant-3.jpg')
                        .swiper-slide(data-src='assets/images/participant-main-4.jpg')
                            +img('participant-4.jpg')
